{% extends "base.html" %}

{% block content %}
<form action="/humans" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="...">
</form>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for human in humans %}
        <tr>
          <td>{{ human }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    $("#data").DataTable();
  });
</script>
{% endblock %}