{% extends "base.html" %}

{% block content %}
      <div class="humanscontainer">
        {% for event in current_iter %}
          <table class="humans", style='background-color: {{ event["color"] }};'>
            <thead>
              <th>{{ event["name"] }}</th>
            </thead>
            <tbody> 
              <tr class="human"><td>{{ event["event"] }}</td></tr>
              <tr class="human"><td>{{ event["details"] }}</td></tr>
          </tbody>
          </table>
        {% endfor %}
      </div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function () {
    $("#data").DataTable({
    order: [[0, 'desc']],
});
  });
</script>
{% endblock %}